<!-- We can use pug as a plain html with variables -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>#{title}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact Us</a> </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Get this Gym MemberShip for 60$ - <span class="blink">Hurry Now !</span> Fill this form Now!</h1>
        <form action="/" method="POST">
            <input type="text" name="name" title="Enter your Full Name" placeholder="Enter your Full Name" required>
            <input type="number" name="number" title="Enter Your Number" placeholder="Enter Your Number" required>
            <input type="email" name="email" title="Enter your Email" placeholder="Enter your Email" required>
            <input type="submit" value="Submit" title="Submit Button">
        </form>
    </div>
    <footer></footer>
    <script src="public/script.js "></script>
</body>

</html>