doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="refresh" content="30")
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    link(rel="stylesheet" href="/public/style.css")
    title Dance Academy
    body
        nav#navbar 
            div#img
                img(src="/public/img/logo.png" alt="Logo")
            ul
                li #[a(href="#introsection") Home]
                li #[a(href="#ourmissionsection") About]
                li #[a(href="#sponsersection") Services]
                li.lastLi #[a(href="#footer") Class Info]  

        section#introsection
            div
                h1  Welcome to Aditya's Dance Academy
            div Eat Sleep Dance Repeat
        section#ourmissionsection
            h2 Our Mission Section Here
            div.cards
                div.card
                    h3 Dance Perfection
                    div.card-box
                        div.img 
                            img(src="/public/img/1.png" alt="1") 
                        div.card-content 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing.
                div.card
                    h3 Dance the way you like
                    div.card-box
                        div.img 
                            img(src="/public/img/2.png" alt="2") 
                        div.card-content 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing.
                div.card
                    h3 Expert Teaching
                    div.card-box
                        div.img 
                            img(src="/public/img/3.png" alt="3") 
                        div.card-content 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing.
        section#sponsersection
            h2 SponserSection Here
            div#sponsers
                img(src="/public/img/logo1.png", alt="Sponser image") 
                img(src="/public/img/logo2.png", alt="Sponser image") 
                img(src="/public/img/logo3.png", alt="Sponser image") 
                img(src="/public/img/logo4.png", alt="Sponser image") 
        footer#footer 
            | Co    pyRight &#169; 2019 AdityaDanceAcademy.com All Rights | Reserved

