

#introsection {
  height: 70vh;

  /* opacity: 0.8; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  position: relative;
  z-index: 1;
}
#introsection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1495109251996-432ef0887b37?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1476&q=80");
  background-position: center;
  background-size: cover;
  filter: grayscale(0.7);
}
#introsection div h1 {
  text-align: center;
}

#ourmissionsection {
  min-height: 35vh;
  background-color: rgba(255, 255, 255, 0.869);
  padding: 12px 0;
}
#ourmissionsection h2 {
  text-align: center;
}
.cards {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3vw;
}
.card {
  /* aspect-ratio: 1.16/1; */
  height: 264px;
  width: 307px;
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
}
.card h3 {
  text-align: center;
}
.card .card-box {
  height: 85%;
  padding: 4px;
}
.card .card-box .img {
  height: 82%;
  display: flex;
  justify-content:center;
}
.card .card-box .img img {
  height: 100%;
}
#sponsersection {
  min-height: fit-content;
  background-color: rgba(255, 174, 0, 0.827);
  position: relative;
  
}
/* #sponsersection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  background-image: url("https://images.unsplash.com/photo-1530374195309-8c25022c4753?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
  filter: grayscale(0.7);
} */
#sponsersection h2{
text-align: center;
}
#sponsers{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 87%;
  flex-wrap: wrap;
  padding-bottom: 8px;
  row-gap: 20px;
}
#sponsers img{
height: max(13.7vw,105px);
background-color: rgba(255, 255, 255, 1);
/* box-shadow: 0px 9px 20px 0px black; */
border-radius: 12px;
padding: 22px;
transition: all ease 0.5s;
}
#sponsers img:hover{
background-color: rgb(215, 213, 213);
transform: translate(0 -5px);
box-shadow: 0px 9px 20px 0px black;

}

